# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# MLflow
mlruns/

# Data
data/raw/*
data/processed/*
data/indexes/*

# Keep folders
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/indexes/.gitkeep

# Logs
logs/

# Alembic
*.db

# MacOS
.DS_Store